<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body style="height: 100%; margin: 0; display: flex; align-items: center; justify-content: center; background-color: #ffcccc;">
    <table style="width: 400px; height: 200px; margin: 25px auto; background-color: #fff; border-radius: 16px 16px 16px 16px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); border-collapse: collapse; overflow: hidden;">
        <tr>
            <th colspan="2" style="padding: 15px; text-align: center; background-color: #f2f2f2; border-radius: 16px 16px 0px 0px;">
                <h1>WEX Inc</h1>
            </th>
        </tr>
        <tr>
            <td colspan="2" style="padding: 15px; text-align: center;">
                <p>$BODY</p>
            </td>
        </tr>
    </table>
</body>
</html>